@media screen and (max-width:1000px) {

    .contCont{
        width: 80%!important;
        .cont{
            width: auto!important;
        }
    }

    .btn{
        width: 80%!important;
    }

    .logo{
        width: 80%!important;
        left: 10%!important;
        top: 2%!important;
    }

    small{
        width: 100%!important;
    }

    svg{
        width: 100%!important;
        transform: scale(1.5);
    }

    .txtBox{
        height: 45%!important;
    }

    .lucky{
        width: 10%!important;
    }

    h1{
        width: 50%;
    }

    .bg-pop{
        .popCont{
            width: 80%!important;
            justify-content: center;
            h2{
                width: 100%!important;
            }
            img#popLogo{
                width: 15%!important;
            }
            img#cat{
                width: 80%!important;
            }
        }
    }
}

// @media screen and (min-width:1001px) {
//     body{
//         justify-content: center;
//     }
// }