@media screen and (max-width:1000px) {

    .contCont{
        width: 80%!important;
        .cont{
            width: auto!important;
        }
    }

    .btn{
        width: 80%!important;
    }

    .logo{
        width: 20%!important;
        left: 10%!important;
        top: 2%!important;
    }

    small{
        width: 100%!important;
    }

    svg{
        width: 100%!important;
        transform: scale(1.5);
    }

    .txtBox{
        height: 50%!important;
    }

    .lucky{
        width: 10%!important;
    }

    h1{
        width: 50%;
    }

    .bg-pop{
        .popCont{
            width: 95%!important;
            .lucky{
                width: 25%!important;
            }
            img.reward{
                width: 50%!important;
            }
        }
    }

    .spinner{
        width: 135%!important;
    }
    .top{
        width: 15%!important;
      }
}