@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Lato:wght@300&display=swap');
@import "_var";
@import "query";
@import "_struct";
@import "_def";

/* font style */
.ama{
  font-family: $ama;
}

.lato{
  font-family: $lato;
}

.bot{
    bottom: 0;
}

.top{
  width: 5%;
  z-index: 2;
  transition: .5s ease-in-out;
}

.spinner{
  animation: down .5s;
}

svg{
    width: 50%;
    animation: down .5s;
}

.bg-pop{
    .bg-lght{
        border-radius: 15px!important;
        img{
            position: absolute;
            top: 5%;
        }
    }
}

/* text */
h1 {
    font-size: clamp(2.5rem, 7vw, 7rem);
}
h2 {
    font-size: clamp(2rem, 3vw, 3rem);
}
h4 {
    font-size: clamp(1.3rem, 1.5vw, 1.8rem);
}
p,
button {
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}
small {
    font-size: clamp(0.6rem, 0.75rem, 1rem);
    line-height: 1.5;
}

.txt{
    &-wht{
        color: $wht;
    }
    &-drk{
        color: $drk;
    }
}

.logo{
    position: absolute;
    top: 2%;
    left: 1%;
}

.pl{
    &-bl{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &-br{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.txtBox{
    position: absolute;
    bottom: 0;
    animation: up .5s ease-in-out;
}

@keyframes up {
    0% {
      transform: translateY(1900px);
    }
    100% {
        transform:translateY(0)
    }
}
  
@-webkit-keyframes up {
    0% {
      transform: translateY(1900px);
    }
    100% {
        transform:translateY(0)
    }
}

@keyframes down {
    0% {
      transform: translateY(-1900px);
    }
    100% {
        transform:translateY(0)
    }
}
  
@-webkit-keyframes down {
    0% {
      transform: translateY(-1900px);
    }
    100% {
        transform:translateY(0)
    }
}

#spinMe {
    transform-origin: center;
  }


  .spinAround {
    -webkit-animation: spin 6.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    90% {
      -webkit-transform: rotate(3110deg);
      -ms-transform: rotate(3110deg);
      transform: rotate(3110deg);
    }
    95% {
      -webkit-transform: rotate(3108deg);
      -ms-transform: rotate(3108deg);
      transform: rotate(3108deg);
    }
    100% {
      -webkit-transform: rotate(3109deg);
      -ms-transform: rotate(3109deg);
      transform: rotate(3109deg);
    }
  }
  .spinAround2 {
    -webkit-animation: spin2 6.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes spin2 {
    0% {
      -webkit-transform: rotate(3109deg);
      -ms-transform: rotate(3109deg);
      transform: rotate(3109deg);
    }
    90% {
      -webkit-transform: rotate(5095deg);
      -ms-transform: rotate(5095deg);
      transform: rotate(5095deg);
    }
    95% {
      -webkit-transform: rotate(5084deg);
      -ms-transform: rotate(5084deg);
      transform: rotate(5084deg);
    }
    100% {
      -webkit-transform: rotate(5085deg);
      -ms-transform: rotate(5085deg);
      transform: rotate(5085deg);
    }
  }
  .spinAround3 {
    -webkit-animation: spin3 6.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes spin3 {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    90% {
      -webkit-transform: rotate(5600deg);
      -ms-transform: rotate(5600deg);
      transform: rotate(5600deg);
    }
    95% {
      -webkit-transform: rotate(5579deg);
      -ms-transform: rotate(5579deg);
      transform: rotate(5579deg);
    }
    100% {
      -webkit-transform: rotate(5580deg);
      -ms-transform: rotate(5580deg);
      transform: rotate(5580deg);
    }
  }

  .spinAround4 {
    -webkit-animation: spin4 6.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes spin4 {
    0% {
      -webkit-transform: rotate(2109deg);
      -ms-transform: rotate(2109deg);
      transform: rotate(2109deg);
    }
    90% {
      -webkit-transform: rotate(4105deg);
      -ms-transform: rotate(4105deg);
      transform: rotate(4105deg);
    }
    95% {
      -webkit-transform: rotate(4094deg);
      -ms-transform: rotate(4094deg);
      transform: rotate(4094deg);
    }
    100% {
      -webkit-transform: rotate(4095deg);
      -ms-transform: rotate(4095deg);
      transform: rotate(4095deg);
    }
  }

  .spinAround5 {
    -webkit-animation: spin5 6.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes spin5 {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    90% {
      -webkit-transform: rotate(3610deg);
      -ms-transform: rotate(3610deg);
      transform: rotate(3610deg);
    }
    95% {
      -webkit-transform: rotate(3599deg);
      -ms-transform: rotate(3599deg);
      transform: rotate(3599deg);
    }
    100% {
      -webkit-transform: rotate(3600deg);
      -ms-transform: rotate(3600deg);
      transform: rotate(3600deg);
    }
  }  

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

