@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@media screen and (max-width: 1000px) {
  .contCont {
    width: 80% !important;
  }
  .contCont .cont {
    width: auto !important;
  }
  .btn {
    width: 80% !important;
  }
  .logo {
    width: 80% !important;
    left: 10% !important;
    top: 2% !important;
  }
  small {
    width: 100% !important;
  }
  svg {
    width: 100% !important;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .txtBox {
    height: 50% !important;
  }
  .lucky {
    width: 10% !important;
  }
  h1 {
    width: 50%;
  }
  .bg-pop .popCont {
    width: 80% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg-pop .popCont img {
    width: 15% !important;
  }
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx-cent {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
}

.flx-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flx-jc-ce {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flx-jc-strt {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flx-jc-sp {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flx-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flx-ai-ce {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flx-ai-strt {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p-20 {
  padding: 20px;
}

.p-15 {
  padding: 15px;
}

.p-5 {
  padding: 5px;
}

.w-vw {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-auto {
  width: auto;
}

.w-0 {
  width: 0;
}

.h-vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.h-50 {
  height: 50%;
}

.h-35 {
  height: 35%;
}

.h-30 {
  height: 30%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}

.h-h {
  height: 10%;
}

.h-auto {
  height: auto;
}

.h-cust {
  height: 50vh;
}

.ovr-hide {
  overflow: hidden;
}

.ovr-xhide {
  overflow-x: hidden;
}

.ovr-yhide {
  overflow-y: hidden;
}

.ovr-scr-x {
  overflow-x: scroll;
}

.ovr-scr-y {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.m-50 {
  margin: 50%;
}

.m-15 {
  margin: 15%;
}

.m-10 {
  margin: 10%;
}

.m-5 {
  margin: 5%;
}

.m-2 {
  margin: 2%;
}

.m-0 {
  margin: 0 !important;
}

.m-r-15 {
  margin-right: 15%;
}

.m-r-10 {
  margin-right: 10%;
}

.m-r-5 {
  margin-right: 5%;
}

.m-r-2 {
  margin-right: 2%;
}

.m-r-auto {
  margin-right: auto;
}

.m-l-15 {
  margin-left: 15%;
}

.m-l-10 {
  margin-left: 10%;
}

.m-l-5 {
  margin-left: 5%;
}

.m-l-2 {
  margin-left: 2%;
}

.m-l-auto {
  margin-left: auto;
}

.m-t-15 {
  margin-top: 15%;
}

.m-t-2 {
  margin: 2%;
}

.m-t-10 {
  margin-top: 10%;
}

.m-t-5 {
  margin-top: 5%;
}

.m-t-2 {
  margin: 0;
  margin-top: 2%;
}

.m-t-auto {
  margin-top: auto;
}

.m-b-15 {
  margin-bottom: 15%;
}

.m-b-10 {
  margin-bottom: 10%;
}

.m-b-5 {
  margin-bottom: 5%;
}

.m-b-2 {
  margin-bottom: 2%;
}

.m-b-auto {
  margin-bottom: auto;
}

.pos-stck {
  position: -webkit-sticky;
  position: sticky;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.z-top {
  z-index: 55;
}

.z-mid {
  z-index: 50;
}

.z-main {
  z-index: 1;
}

.z-bg {
  z-index: 0;
}

.z-neg {
  z-index: -1;
}

/* text */
.txt-al-ce {
  text-align: center;
}

.txt-al-r {
  text-align: right;
}

.txt-al-l {
  text-align: left;
}

.txt-al-j {
  text-align: justify;
}

.txt-gld {
  color: #F8E0A0;
}

.txt-wht {
  color: white;
}

.txt-blk {
  color: black;
}

.txt-gry {
  color: #494949;
}

.txt-acc {
  text-decoration: line-through;
}

/* button */
.btn {
  border-radius: 15px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: none;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
}

.btn-drk {
  background-color: #447692;
  color: white;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.pulse {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

/* background */
.bg-img {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.bg-drk {
  background-color: #447692;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.bg-lght {
  background-color: #A6F2FF;
  color: #447692;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.bg-pop {
  background: rgba(48, 48, 48, 0.25);
  z-index: 55;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
}

.hide {
  visibility: hidden;
}

/* pulse */
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fade-top {
  -webkit-animation: fromTop .5s ease-in-out;
          animation: fromTop .5s ease-in-out;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Default css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

div,
section,
main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
span {
  white-space: pre-line;
}

/* font style */
.mont-reg {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.mont-bld {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.mont-blk {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.bot {
  bottom: 0;
}

svg {
  width: 50%;
  -webkit-animation: down .5s;
          animation: down .5s;
}

.bg-pop .bg-lght {
  border-radius: 15px !important;
}

.bg-pop .bg-lght img {
  position: absolute;
  top: 5%;
}

/* text */
h1 {
  font-size: clamp(2.5rem, 7vw, 7rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 3rem);
}

h4 {
  font-size: clamp(1.3rem, 1.5vw, 1.8rem);
}

p,
button {
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

small {
  font-size: clamp(0.6rem, 0.75rem, 1rem);
  line-height: 1.5;
}

.txt-wht {
  color: white;
}

.txt-drk {
  color: #447692;
}

.logo {
  position: absolute;
  top: 2%;
  left: 1%;
}

.pl-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pl-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.txtBox {
  position: absolute;
  bottom: 0;
  -webkit-animation: up .5s ease-in-out;
          animation: up .5s ease-in-out;
}

@keyframes up {
  0% {
    -webkit-transform: translateY(1900px);
            transform: translateY(1900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(1900px);
            transform: translateY(1900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-1900px);
            transform: translateY(-1900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-1900px);
            transform: translateY(-1900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#spinMe {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.spinAround {
  -webkit-animation: spin 6.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  90% {
    -webkit-transform: rotate(3110deg);
    transform: rotate(3110deg);
  }
  95% {
    -webkit-transform: rotate(3108deg);
    transform: rotate(3108deg);
  }
  100% {
    -webkit-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
}

.spinAround2 {
  -webkit-animation: spin2 6.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
  90% {
    -webkit-transform: rotate(6314deg);
    transform: rotate(6314deg);
  }
  95% {
    -webkit-transform: rotate(6312deg);
    transform: rotate(6312deg);
  }
  100% {
    -webkit-transform: rotate(6313deg);
    transform: rotate(6313deg);
  }
}

.spinAround3 {
  -webkit-animation: spin3 6.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(1805deg);
    transform: rotate(1805deg);
  }
  95% {
    -webkit-transform: rotate(1799deg);
    transform: rotate(1799deg);
  }
  100% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinAround2 {
  -webkit-animation: spin2 6.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
  90% {
    -webkit-transform: rotate(6400deg);
    transform: rotate(6400deg);
  }
  95% {
    -webkit-transform: rotate(6389deg);
    transform: rotate(6389deg);
  }
  100% {
    -webkit-transform: rotate(6390deg);
    transform: rotate(6390deg);
  }
}

.spinAround3 {
  -webkit-animation: spin3 6.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
  90% {
    -webkit-transform: rotate(6310deg);
    transform: rotate(6310deg);
  }
  95% {
    -webkit-transform: rotate(6299deg);
    transform: rotate(6299deg);
  }
  100% {
    -webkit-transform: rotate(6300deg);
    transform: rotate(6300deg);
  }
}
/*# sourceMappingURL=styles.css.map */